@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Radio+Canada:wght@400;600;700&display=swap);

:root {
    --first-color: #7dba78;
    --text-color: #cdc7c7;
    --text-color-light: #918888;
    --body-light: #f2f2f2;
    --body-color: #234e70;
    --container-color: #241e20;
    --skills-popup-color: #585858;
    --work-hover-color: #93ec8b;
    --header-height: 3.5rem;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .900rem;
    --smaller-font-size: .85rem;
    --tiny-font-size: .625rem;
    --medium: 500;
    --semibold: 600;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000
}

@media screen and (min-width:968px) {
    :root {
        --biggest-font-size: 3.2rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .900rem;
        --smaller-font-size: .900rem
    }
}

body.light {
    background: var(--body-light);
}

.checkbox {
    opacity: 0;
    position: absolute
}

.label {
    background-color: var(--first-color);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5)
}

.label .ball {
    background-color: #fcf8fa;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0);
    transition: transform .2s linear
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
    -webkit-transform: translateX(24px);
    -moz-transform: translateX(24px);
    -ms-transform: translateX(24px);
    -o-transform: translateX(24px)
}

@media screen and (max-width:600px) {
    .checkbox:checked+.label .ball {
        transform: translateX(16px);
        -webkit-transform: translateX(16px);
        -moz-transform: translateX(16px);
        -ms-transform: translateX(16px);
        -o-transform: translateX(16px)
    }
}

@media screen and (max-width :600px) {
    .label {
        width: 40px
    }
}

@media screen and (max-width :600px) {
    .ball {
        width: 20px
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

body,
button,
input,
textarea {
    font-family: Poppins, sans-serif;
    font-size: var(--normal-font-size)
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semibold)
}

ul {
    list-style: none
}

a {
    text-decoration: none !important;
}

button {
    cursor: pointer;
    border: none;
    outline: 0
}

img {
    max-width: 100%;
    height: auto
}

.bi {
    height: 20px;
    line-height: 0 !important;
}

.bi::before {
    font-weight: bold !important;
}

.fa-brands {
    color: var(--first-color);
}

.container {
    max-width: 968px;
}

.grid {
    display: grid;
    gap: 1.25rem
}

.main {
    overflow: hidden
}

.section {
    padding: 4.5rem 0 1rem
}

.section__subtitle,
.section__title {
    text-align: center
}

.section__title {
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: 2rem
}

.section__subtitle {
    display: block;
    font-size: var(--normal-font-size);
    color: var(--text-color-light);
    letter-spacing: 0.8px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed)
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center
}

.nav__logo {
    color: var(--first-color);
    font-weight: var(--medium);
    margin-left: 1rem;
    transition: .4s
}

.nav__logo:hover {
    color: var(--first-color-alt)
}

.bg-mode {
    margin-top: .6rem;
    margin-right: .5rem
}

.nav__menu {
    position: fixed;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    background-color: #241e20b8;
    width: 300px;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px)
}

.nav__list {
    padding: 0 1rem 0 1rem;
    display: flex;
    margin: .3rem 0;
}

.nav__link {
    color: var(--text-color);
    font-size: 1.25rem;
    padding: .4rem;
    display: flex;
    border-radius: 5rem
}

.nav__link:hover {
    text-decoration: none;
    color: #fff;
}

.nav__item {
    margin: 0 .26rem;
}

.active-link {
    color: '#fff';
    background: linear-gradient(180deg, var(--first-color), hsla(356, 50%, 75%, .25));
    box-shadow: 0 0 20px #7eb67ace;
}

.scroll-header {
    box-shadow: 0 4px 4px #0a0a0a4d
}

.home__container {
    position: relative;
    row-gap: 4.5rem;
    padding-top: 7rem
}

.home__data {
    margin-bottom: .5rem;
    text-align: center
}

.home__education,
.home__greeting {
    font-size: var(--normal-font-size);
    letter-spacing: 0.5px;
}

.home__greeting {
    display: block;
    color: var(--text-color);
    margin-bottom: .25rem
}

.home__education {
    color: var(--text-color);
    margin-bottom: 2rem
}

.home__name {
    font-size: var(--biggest-font-size)
}

.home__img {
    width: 160px
}

.img-github {
    width: 180px;
    height: 180px;
}

.home__handle {
    justify-content: center;
    width: 190px;
    height: 293px;
    background: linear-gradient(180deg, #807bbc, hsla(356, 66%, 75%, .2));
    border-radius: 10rem 10rem 1rem 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    justify-self: center
}

.home__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem
}

.home__scroll,
.home__social {
    position: absolute;
}

.home__social {
    left: 0;
    display: grid;
    row-gap: .5rem
}

.home__social-link {
    width: max-content;
    background-color: var(--container-color);
    color: var(--first-color);
    padding: .44rem;
    border-radius: .25rem;
    font-size: 1.25rem;
    transition: .4s
}

.home__social-link:hover {
    background-color: var(--first-color);
    color: #fff;
}

.home__social::after {
    content: '';
    width: 32px;
    height: 2px;
    background-color: var(--first-color);
    transform: rotate(90deg) translate(16px, 3px)
}

.home__scroll {
    color: var(--first-color);
    right: -1rem;
    bottom: 6rem;
    display: grid;
    row-gap: 2.25rem;
    justify-items: center
}

.home__scroll:hover {
    color: var(--first-color);
}

.home__scroll-icon {
    font-size: 1.45rem;
}

.home__scroll-name {
    font-size: var(--smaller-font-size);
    transform: rotate(-90deg)
}

.button {
    box-sizing: border-box;
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--medium);
    transition: .4s
}

.button-about:hover {
    background-color: var(--body-light);
    border: 2px solid var(--first-color);
    color: var(--first-color);
    box-shadow: 0 0 10px #7eb67ace;
}

.button--ghost {
    background-color: transparent;
    border: 2px solid var(--first-color);
    color: var(--first-color)
}

.button--ghost:hover {
    background-color: var(--first-color);
    color: var(--body-color);
    box-shadow: 0 0 10px #7eb67ace;
}

.about {
    margin-top: 4rem;
}

.about__container {
    margin-top: 3rem;
    row-gap: 2.5rem
}

.about__img {
    width: 220px;
    border-radius: 1.5rem;
    justify-self: center;
    margin-bottom: 2.5rem
}

.about__data {
    text-align: center;
}

.about__data2 {
    display: flex;
    flex-direction: column;
}

.about__badges_box {
    margin-top: 15px;
}

.cp_badge {
    padding-top: 8px;
    padding-left: 5px;
}

.cp_badge_img {
    height: 25px;
}

.about__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin-bottom: 2rem
}

.about__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--container-color);
    border-radius: .75rem;
    padding: .75rem .5rem
}

.about__box_heading {
    font-size: 1.25rem;
    opacity: 0.88;
}

.about__icon {
    font-size: 1.4rem;
    color: var(--first-color);
    opacity: 0.88;
    margin-bottom: .5rem
}

.about__title {
    color: var(--text-color);
}

.about__subtitle {
    color: var(--text-color-light);
    font-size: var(--smaller-font-size);
    font-weight: var(--medium);
}

.about__description {
    margin-bottom: 0rem
}

.skills__container {
    row-gap: 2rem;
    padding-top: 1rem
}

.skills__content {
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.25rem
}

.skills__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    text-align: center;
    margin-bottom: 1.5rem
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem
}

.skills__group {
    display: grid;
    align-content: flex-start;
    row-gap: 1rem
}

.skill__data {
    display: flex;
    justify-content: center;
    column-gap: .5rem;
}

.skill__data .skills-img {
    width: 3rem;
    height: 3rem;
}

.skills-popup {
    color: var(--skills-popup-color) !important;
}

.skills-img:hover {
    cursor: help;
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--medium);
    line-height: 18px
}

.skill__level {
    font-size: var(--tiny-font-size)
}

.active-modal {
    opacity: 1;
    visibility: visible
}

.work__container {
    padding-top: 1rem;
    justify-items: center;
}

.work__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem
}

.work__item {
    cursor: pointer;
    color: var(--text-color);
    padding: .25rem .75rem;
    font-weight: var(--medium);
    border-radius: .5rem
}

.work__card {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 1rem;
    width: fit-content;
    display: none;
}

.active-work-card {
    display: grid;
    animation: zoomIn .5s ease forwards;
}

.work__img {
    border-radius: 1rem;
    margin-bottom: .75rem
}

.work__title {
    font-size: var(--normal-font-size);
    font-weight: var(--medium);
    margin-bottom: .25rem
}

.work__button {
    width: max-content;
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: flex-end;
    column-gap: .25rem
}

.work__button:hover .work__icon {
    transform: translateX(.25rem)
}

.work__button:hover {
    color: var(--work-hover-color);
}
.work__icon {
    font-size: 1rem;
    transition: .4s;
}

.active-work {
    background-color: var(--first-color);
    color: var(--body-color);
    animation-name: zoomIn;
    animation-duration: 500ms;
}

.contact__container {
    row-gap: 3rem;
    padding-bottom: 3rem
}

.contact__title {
    text-align: center;
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem
}

.contact__info {
    display: grid;
    gap: 1rem
}

.contact__card {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: .75rem;
    text-align: center
}

.contact__card-icon {
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: .25rem
}

.contact__card-title,
.content__card-data {
    font-size: var(--small-font-size)
}

.contact__card-title {
    font-weight: var(--font-medium)
}

.content__card-data {
    display: block;
    margin-bottom: .75rem
}

.contact__button {
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem
}

.contact__button:hover {
    transform: scale(1.05);
    transition-duration: .5s;
    color: var(--first-color);
}

.contact__button:hover .contact__button-icon {
    transform: translateX(.25rem)
}

.contact__button-icon {
    font-size: 1rem;
    transition: .4s
}

.contact__form-div {
    position: relative;
    margin-bottom: 2rem;
    height: 4rem
}

.contact__form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color-light);
    background: 0 0;
    color: var(--text-color);
    outline: 0;
    padding: 1.5rem;
    border-radius: .75rem;
    z-index: 1
}

.contact__form-tag {
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: .25rem;
    background-color: var(--body-color);
    z-index: 10
}

.contact__form-area {
    height: 11rem
}

.contact__form-area textarea {
    resize: none
}

.footer {
    width: 101%;
    background-color: var(--first-color)
}

.footer__container {
    padding: 2rem 0 7.5rem
}

.footer__link,
.footer__title {
    color: var(--body-color)
}

.footer__title {
    text-align: center;
    margin-bottom: 2rem
}

.footer__list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
    padding: 0 !important;
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
    padding: 0 !important;
}

.footer__social i.bi {
    height: 20px;
}

.footer__social i.bi::before {
    height: 20px;
    vertical-align: text-top !important;
}

.footer__social-link {
    background-color: var(--body-color);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    font-size: 1rem;
    display: inline-flex
}

.footer__social-link:hover {
    color: var(--first-color);
}

.footer__copy {
    display: block;
    margin-top: 4.5rem;
    color: var(--container-color);
    text-align: center;
    font-size: var(--smaller-font-size)
}

::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: #69595a
}

::-webkit-scrollbar-thumb {
    background-color: #483d3e;
    border-radius: .5rem
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2f3237
}

@media screen and (max-width:360px) {
    .nav__menu {
        width: 230px;
        padding: 1rem 1rem;
    }

    .nav__item {
        margin: 0 2px;
    }

    .home__buttons {
        flex-direction: column
    }

    .home__handle {
        width: 150px;
        height: 253px
    }

    .home__img {
        width: 130px
    }

    .about__info {
        grid-template-columns: repeat(2, 1fr)
    }

    .about__box {
        column-gap: 1rem
    }

    .skills__name {
        font-size: var(--small-font-size)
    }

    .work__item {
        font-size: var(--small-font-size)
    }

    .work__filters {
        column-gap: .25rem
    }
}

@media screen and (min-width:576px) {

    .about__info {
        grid-template-columns: repeat(3, 140px);
        justify-content: center
    }

    .about__description {
        padding: 0 5rem
    }

    .skills__container {
        justify-content: center
    }

    .skills__content {
        padding: 2rem 3rem;
    }

    .work__container {
        justify-content: center
    }

    .work__img {
        width: 295px
    }

    .contact__info {
        grid-template-columns: 360px;
        justify-content: center
    }

    .contact__form {
        width: 360px;
        margin: 0 auto
    }
}

@media screen and (min-width:767px) {
    .work__container {
        grid-template-columns: repeat(2, max-content)
    }

    .contact__container {
        justify-content: center
    }
}

@media screen and (max-width:992px) {
    .about__data2 {
        align-items: center;
    }

    .about__cp_txt {
        text-align: center;
    }

    .about__cp_badges {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width:992px) {
    .container {
        margin: 0 auto
    }

    .section {
        padding: 6.5rem 0 1rem
    }

    .section__title {
        margin-bottom: 3.5rem
    }

    .nav {
        height: calc(var(--header-height) + 1rem)
    }

    .nav__logo {
        margin: 0;
    }

    .bg-mode {
        margin: 0;
    }

    .home__handle {
        width: 290px;
        height: 400px
    }

    .home__img {
        width: 220px
    }

    .home__social {
        bottom: 2rem;
    }

    .home__social-link {
        padding: .4rem;
        font-size: 1.25rem
    }

    .home__scroll {
        bottom: 6.5rem
    }

    .home__scroll::after {
        transform: rotate(90deg) translate(16px, 0)
    }

    .home__scroll-icon {
        font-size: 2rem
    }

    .about {
        margin-top: 2rem;
    }

    .about__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        column-gap: 4rem;
        margin-bottom: 2rem;
        margin-top: 7rem;
    }

    .about__img {
        width: 350px
    }

    .about__data {
        text-align: initial
    }

    .about__info {
        justify-content: initial
    }

    .about__box {
        text-align: center;
        padding: 0.88rem 1.12rem
    }

    .about__description {
        padding: 0 .5rem;
        margin-bottom: 2.5rem
    }

    .skills__container {
        grid-template-columns: repeat(2, 350px);
        column-gap: 3rem
    }

    .work__container {
        gap: 3rem
    }

    .work__img {
        margin-bottom: 1rem
    }

    .work__title {
        margin-bottom: .5rem
    }

    .contact__container {
        column-gap: 6rem
    }

    .footer__social-link {
        font-size: 1.25rem;
        padding: .4rem;
        border-radius: .5rem
    }
}